<h1>Change an Appointment</h1>
<%= simple_form_for @appointment do |f| %>
  <%= f.input :scheduled_time, label: 'Scheduled start time' %>
  <%= f.input :location, label: 'Location' %>
  <%= f.button :submit %>
<% end %>
<%= link_to 'Go Back', recruiter_appointments_path %>
