<nav class="recruiterbar">
  <%= link_to "Melanie Mosquera | Appointments", appointments_path %>
</nav>
<div class="calendar">
<%=calendar number_of_days: 3,  events: @appointments do |date, appointments| %>
  <div class="date">
    <%= date.strftime("%B %d, %Y") %>
  </div>
  <hr>
  <% appointments.each do |appointment| %>
    <div class="appointment">
      <%= appointment.scheduled_time.strftime("%l:%m %P") %>
      <br>
      <%= appointment.availability %>
    </div>
  <% end %>
<% end %>
</div>
