<div class="recruiter_calendar">
<%=calendar number_of_days: 5,  events: @appointments do |date, appointments| %>
  <div class="date">
    <%= date.strftime("%B %d, %Y") %>
  </div>
  <hr>
  <% appointments.each do |appointment| %>
    <% if appointment.user %>
      <a href= "https://cls2.bullhornstaffing.com/BullhornSTAFFING/OpenWindow.cfm?Entity=Candidate&ID=4800550"><div class="recruiter_booked_appointment">
        <%= appointment.scheduled_time.strftime("%l:%M %P") %>
        <br>
        <strong><%= appointment.availability %></strong>
        <br>
        <%= appointment.info %>
      </div></a>
    <% else %>
      <div class="recruiter_available_appointment">
        <%= appointment.scheduled_time.strftime("%l:%M %P") %>
        <br>
        <p>No One Scheduled</p>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
