<div class="logo">
<%= image_tag('logo.png') %>
</div>
<div class="message">
<%= simple_form_for @appointment, method: :patch do |f| %>
  <%= f.hidden_field :booked, booked: @appointment.booked %>
      <% @appointment.booked = true %>
      <% @appointment.user = current_user %>
      <% @appointment.save %>
      <h1>It's yours!</h1>
      <p>We've reserved <%= @appointment.scheduled_time.strftime("%B %d")%>th at  <%=@appointment.scheduled_time.strftime("%l:%M %P")%>
        <br>just for you.</p>
<% end %>
<%= link_to "Return to Schedule", appointments_path %>
</div>
