<nav class="topbar">
  <%= link_to root_path do %>
    <%= image_tag('logo_manpower.png') %>
  <% end %>
  <hr>
</nav>
<div class="candidatebar">
  <a><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
    <%= link_to('Log In', new_user_session_path) %></a>
</div>
<div class="candidate">
  <div class="candidate-calendar">
    <%= calendar number_of_days: 3, events: @appointments do |date, appointments| %>
    <div class="candidate_date">
      <%= date.strftime("%B %d, %Y") %>
    </div>
      <% appointments.each do |appointment| %>
        <% if appointment.booked? %>
          <div class="booked_appointment">
            <p><%= appointment.scheduled_time.strftime("%l:%M %P") %>
              Unavailable</p>
          </div>
        <% else %>
          <div class="available_appointment">
            <p><%= appointment.scheduled_time.strftime("%l:%M %P") %></p>
            <% if !current_user %>
              <%=  link_to 'Available', new_user_appointment_registration_path(appointment) %>
            <% else %>
              <%= link_to 'Available', edit_appointment_path(appointment) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
