<h1>Select a Date</h1>
<%= link_to 'Recruiter Portal', recruiter_appointments_path, class: 'button radius' %>
<%= week_calendar events: @appointments do |date, appointments| %>
  <%= date %>
  <% appointments.each do |appointment| %>
    <%= simple_form_for [appointment], method: :patch do |f| %>
      <%= f.hidden_field :user_id, user_id: current_user.id %>
        <% if appointment.user == current_user %>
          <% appointment.user = nil %>
          <% appointment.save %>
        <% else %>
          <% appointment.user = current_user %>
          <% appointment.save %>
        <% end %>
      <%= f.submit appointment.location %>
    <% end %>
  <% end %>
<% end %>
